.leaf {
  width: 15%;
  margin-left: 20px;
  position: absolute;
  left: 15px;
} 

.greenLine {
  margin: 0px;
  width: 50%;
}

main {
  text-align: center;
  padding: 40px 20px;
  position: relative;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: -30px;
  color: #222;
}

.title::after {
  content: "";
  display: block;
  width: 140px;
  height: 4px;
  margin: 8px auto;
  border-radius: 2px;
}

.search-container {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-container input {
  padding: 8px 12px;
  width: 180px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn, .shuffle-btn {
  background: #3cb043;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.nutrition-card {
  width: 350px;
  margin: 40px auto 0px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.1);
  padding: 20px;
  position: relative;
}

.placeholder-text {
  font-size: 14px;
  color: #777;
  margin-top: 30px;
}

.search-again {
  background: #3cb043;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 15px;
}

footer {
  text-align: right;
  padding: 20px;
}

footer img {
  width: 15%;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
}

.nutrients-list {
            max-height: 200px;
            overflow-y: auto;
            padding: 15px;
            background-color: #f9f9f9;
            border-radius: 4px;
            margin-bottom: 20px;
}

.macro-nutrients {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 15px;
}

.macro-nutrient {
    padding: 10px;
    background-color: #e8f5e9;
    border-radius: 4px;
    text-align: center;
}